
/* body {
  font-family: 'Times New Roman';
  /* font-size:xx-large; */


/* .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
  grid-gap: 5px;
  padding: 10px;
  min-height: 150px;
  justify-content: center;
} */

/* .picture {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
} */

img {
    width: 150px;
    height: 150px;
    /* border-radius: 15px; */
  }

.button {
  color: black;
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* text-align: center; */
  /* text-decoration: none; */
  /* content: ""; */
  /* min-height: 75px; */
  /* min-width: 150px; */
  /* border-radius: 15px; */
  /* font-size: 20px; */
  padding: 5;
  display: block;
  font-size: 30px;
  border: none;
  background: white;
  font-family: sans-serif;
  /* white-space: pre; */
  /* background-size: 100% 100%; */
  scroll-margin-bottom: 62px;
}

/* .control_button {
  border: none;
  background: white;

} */
.button:hover {
  background: lightgrey;
}
/* a, a::before{
  color: white;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  content: "";
  min-height: 75px;
  border-radius: 15px;
  font-size: 20px;
  background-size: 100% 100%;
} */

hr {
  border: 0px solid white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  color: black;
  text-align: center;
  font-size: 50px;
}

i.material-icons {
  font-size: 50px;
}