.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.grid-container {
  display: grid;
  grid-template-columns: 20% auto;
  grid-gap: 10px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid rgb(235,235,235);
  margin: 10px

}

.grid-container > div {
  text-align: left;
  padding: 5px 0;
  font-family: sans-serif;
}

.grid-container > img {
  grid-row: 1 / 4;
  width: 100%;
}

.art {
    /* scroll-margin-bottom: 150px; */
    border-radius: 15px;
  }

.title {
  font-size: 30px;
  color: black;
}

.artist {
  font-size: 20px;
  color: darkgray;
}

.album {
  font-size: 20px;
  color: darkgray;
}

hr {
  border: 0px solid white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  color: black;
  text-align: center;
}

i.material-icons {font-size: 100px !important;}

@media only screen and (min-width: 960px)  and (max-width: 1140px){
  i.material-icons {font-size: 100px !important;}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  i.material-icons {font-size: 150px !important;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  i.material-icons {font-size: 200px !important;}
}
