<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/index.css">
    <title>Sonos controller</title>
    <script src="static/index.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
    rel="stylesheet">
</head>
<body>
    <hr></hr>
    {% for album in albums %}
        <div class="picture numbers">
            <img
                src="{{album.cached_art_file_name}}"
                onerror="this.src='/static/loading.gif'"
                id="{{album.cached_art_file_name}}_id"
            >
        </div>

        {% for song in album.songs %}
        <button
            class="button"
            id={{song.queue_position}}
            onclick="sendCommand('play_index', [{{ song.queue_position }}]);"; 
        >
            {{ song.title }}
        </button>
        {% endfor %}

    <hr></hr>
    {% endfor %}

    <div class='footer'>
        <i class="material-icons" onclick="sendCommand('play_previous')">skip_previous</i>
        <i class="material-icons" id="play_pause_icon" onclick="sendCommand('play')">play_arrow</i>
        <i class="material-icons" onclick="sendCommand('play_next')">skip_next</i>
    </div>
</body>
</html>

