<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/index.css">
    <title>Sonos controller</title>
    <script src="static/index.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
    rel="stylesheet">
</head>
<body class="noselect">
    {% for item in queue %}
    <div 
        class="grid-container" 
        onclick="playIndex({{item.position}});"
        id={{ item.position }}
    >
        <img
            class="art"
            src="{{item.server_art_uri}}"
            onerror="this.src='/static/loading.gif'"
            data-arturi="{{item.server_art_uri}}"
        >
        <div class="title">{{ item.title }}</div>
        <div class="album">{{ item.album }}</div>
        <div class="artist">{{ item.artist }}</div>
    </div>
    {% endfor %}

    <div class='footer'>
        <i class="material-icons" onclick="sendCommand('play_previous')">skip_previous</i>
        <i class="material-icons" id="play_pause_icon" onclick="sendCommand('play')">play_arrow</i>
        <i class="material-icons" onclick="sendCommand('play_next')">skip_next</i>
    </div>
</body>
</html>

